<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<!--/*@thymesVar id="label" type="java.lang.String"*/-->
<!--/*@thymesVar id="selected" type="java.lang.String"*/-->
<!--/*@thymesVar id="url" type="java.lang.String"*/-->
<!--/*@thymesVar id="target" type="java.lang.String"*/-->
<a th:fragment="filterButton (label, selected, url, target)" class="button" th:attrappend="class=${#strings.equals(label, selected)} ? ' is-selected is-info' : ' is-white'" th:text="${label}" th:attr="hx-get=${url},hx-target=${target},hx-swap='outerHTML'">
</a>
<!--/*@thymesVar id="label" type="java.lang.String"*/-->
<!--/*@thymesVar id="icon" type="java.lang.String"*/-->
<!--/*@thymesVar id="selected" type="java.lang.String"*/-->
<!--/*@thymesVar id="url" type="java.lang.String"*/-->
<!--/*@thymesVar id="target" type="java.lang.String"*/-->
<a th:fragment="filterIcon (label, icon, selected, url, target)" class="button" th:attrappend="class=${#strings.equals(label, selected)} ? ' is-selected is-info' : ' is-white'" th:attr="hx-get=${url},hx-target=${target},hx-swap='outerHTML'">
    <span class="icon">
        <i th:class="${icon}" aria-hidden="true"></i>
    </span>
</a>
<!--/*@thymesVar id="filters" type="java.util.List<com.hz.housemonitor.models.render.Filter>"*/-->
<!--/*@thymesVar id="selected" type="java.lang.String"*/-->
<!--/*@thymesVar id="url" type="java.lang.String"*/-->
<!--/*@thymesVar id="target" type="java.lang.String"*/-->
<nav th:fragment="filterBlock (filters, selected, url, target)" class="level">
    <div class="level-item is-hidden-touch">
        <div class="buttons has-addons is-centered block">
            <th:block th:each="filter : ${filters}">
                <div th:replace="~{fragments/Filters :: filterButton (${filter.name}, ${selected}, ${url} + '?filter=' + ${filter.name}, ${target})}"></div>
            </th:block>
        </div>
    </div>
    <div class="level-item is-hidden-desktop">
        <div class="buttons has-addons is-centered block">
            <th:block th:each="filter : ${filters}">
                <div th:replace="~{fragments/Filters :: filterIcon (${filter.name}, ${filter.icon}, ${selected}, ${url} + '?filter=' + ${filter.name}, ${target})}"></div>
            </th:block>
        </div>
    </div>
</nav>
</body>
</html>