<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="House Sensor Monitor">
    <link rel="stylesheet" th:href="@{/webjars/bulma/css/bulma.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <script type="text/javascript" data-th-src="@{/webjars/htmx.org/dist/htmx.js}"></script>
    <title>House Sensor Monitor</title>
</head>
<body class="has-background-light">
<section class="hero is-fullheight">
    <div class="hero-head has-background-info is-bold py-5 px-5" role="banner">
        <p class="title has-text-white" th:text="'House Monitor (' + ${releaseVersion} + ')'">House Monitor</p>
        <p class="subtitle has-text-white"><i class="fas fa-copyright" aria-hidden="true"></i> David McPaul 2021</p>
    </div>
    <div class="hero-body has-background-light" role="main">
        <div class="container">
            <div class="columns is-2">
                <div class="column is-one-quarter">
                    <div class="block is-flex is-justify-content-center">
                        <a class="button is-white" th:href="@{/}">Home</a>
                        <a class="button" th:href="@{/sensor/} + ${id} + '/export'" download>Export</a>
                    </div>
                    <div th:replace="~{fragments/Cards :: sensorCard (${sensor}, ${selectedFilter})}"></div>
                </div>
                <div th:replace="~{fragments/Graphs :: historyGraph (${availableFilters}, ${selectedFilter}, ${id})}" class="column"></div>
            </div>
        </div>
    </div>
    <div class="hero-foot has-background-info has-text-white py-1 px-3">
        <nav class="level">
            <div class="level-left"></div>
            <div class="level-right">
                <div class="level-item"><p>Rendered by <strong class="has-text-white">Thymeleaf</strong> at <span data-th-text="${#calendars.format(#execInfo.now, 'dd MMM yyyy h:mm a')}"></span></p></div>
                <div class="level-item"><a href="https://bulma.io" title="Link to Bulma"><img data-th-src="@{/made-with-bulma--white.png}" alt="Made with Bulma" title="Made with Bulma" src="/made-with-bulma--white.png" width="128" height="24"></a></div>
            </div>
        </nav>
    </div>
</section>
<script type="text/javascript" data-th-src="@{/webjars/highcharts/highstock.js}"></script>
<script type="text/javascript" data-th-src="@{/webjars/highcharts/highcharts-more.js}"></script>
</body>
</html>