<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="House Sensor Monitor">
    <meta http-equiv="refresh" content="60" >
    <link rel="stylesheet" data-th-href="@{/webjars/bulma/css/bulma.min.css}"/>
    <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/css/all.css}"/>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/maps.js"></script>
    <title>House Sensor Monitor</title>
</head>
<body class="has-background-light">
<section class="hero is-info is-bold" role="banner">
    <div class="hero-body py-3">
        <div class="container">
            <h1 class="title is-inline">House Monitor</h1>
            <h2 class="subtitle is-inline" data-th-text="' (' + ${releaseVersion} + ')'"></h2>
            <h2 class="subtitle">
                <i class="fas fa-copyright" aria-hidden="true"></i> David McPaul 2021
            </h2>
        </div>
    </div>
</section>
<section class="section has-background-light">
    <div class="container">
        <h1 class="title" th:text="${sensor.title}"></h1>
        <div id="temperature-chart"></div>
    </div>
</section>
<footer class="footer is-paddingless has-background-light" role="contentinfo">
    <div class="container">
        <div class="tabs is-centered">
            <ul>
                <li class="has-text-weight-semibold">About</li>
            </ul>
        </div>
        <div class="columns is-centered">
            <div class="column is-one-third">
                <ul>
                    <li class="pl-2 is-size-6">Rendered by <strong>Thymeleaf</strong> at <span data-th-text="${#calendars.format(#execInfo.now, 'dd MMM yyyy HH:mm')}"></span></li>
                    <li><br></li>
                    <li class="is-size-6"><a href="https://bulma.io" title="Link to Bulma"><img data-th-src="@{/made-with-bulma.png}" alt="Made with Bulma" title="Made with Bulma" src="made-with-bulma.png" width="128" height="24"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script data-th-inline="javascript">
    const title = [[${sensor.title}]];

    am4core.ready(function() {
        var chart = am4core.create("temperature-chart", am4charts.XYChart);

        chart.data = [[${todaysTemperature}]];

        var xAxis = chart.xAxes.push(new am4charts.DateAxis());
        xAxis.title.text = "Time";
        xAxis.baseInterval = {
            "timeUnit": "minute",
            "count": 5
        };

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.title.text = "Celsius";

        var series = chart.series.push(new am4charts.LineSeries());
        series.dataFields.valueY = "value";
        series.dataFields.dateX = "when";
        series.tooltipText = "{value}"
    });
</script>
</body>
</html>